[user]
	name =
	email =
[color]
	ui = true
	status = auto
	branch = auto
[core]
	autocrlf = false
	longpaths = true
	editor = \"C:\\Users\\username\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	gp = push
	gs = status
	gr = reset
	gc = commit
	c = commit
	r = reset
	p = push
	s = status
	a = add
	ac = commit -am
